<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Taxi Services Pty Ltd - Privacy Policy</title>
        
    </head>
<body>
    <h1>Taxi Services Pty Ltd</h1>
    <h2>Privacy Policy</h2>
    <p>This Policy was last reviewed and updated on: 21/08/2023</p>

    <h3>Purpose</h3>
    <p>This app is solely developed for administration purposes and staff’s internal usage at Taxi Services Pty Ltd trading as Ararat Taxi Services.</p>

    <h3>Privacy Policy</h3>
    <p>Taxi Services Pty Ltd values and respects the privacy of the people we deal with. Taxi Services Pty Ltd is committed to protecting your privacy and complying with the Privacy Act 1988 (Privacy Act) and other applicable privacy laws and regulations.</p>
    <p>This Privacy Policy (Policy) describes how we collect, hold, use and disclose your personal information, and how we maintain the quality and security of your personal information.</p>

    <h4>What is personal information?</h4>
    <p>“Personal information” means any information or opinion, whether true or not, and whether recorded in a material form or not, about an identified individual or an individual who is reasonably identifiable. In general terms, this includes information or an opinion that personally identifies you either directly or indirectly.</p>

    <h4>What personal information do we collect?</h4>
    <p>Only authorised drivers of Taxi Services Pty Ltd are allowed to use this application. The personal information we collect about you is what is required by Commercial Passengers Vehicle Victoria to drive a taxi with a taxi operator. The personal information we collect about you to operate this application include:</p>
    <ul>
        <li>Name</li>
        <li>Email</li>
    </ul>
    <p>We will not collect any personal or sensitive information about any driver or user of this application. Information entered by drivers in this application will be used for Taxi Services Pty Ltd’s accounting purposes only.</p>

    <h4>How do we collect your personal information?</h4>
    <p>We DO NOT collect your personal information directly or indirectly from this application.</p>

    <h4>Collecting personal information from third parties</h4>
    <p>We do not collect any personal information from third parties. Your personal information is not shared with any other party or a third party. Any information collected is not shared or made publicly available.</p>

    <h4>How do we use your personal information?</h4>
    <p>We use login information in connection with our functions and activities, including the following purposes:</p>
    <ul>
        <li>Internal administrative purposes only</li>
    </ul>

    <h4>Disclosure of personal information to third parties</h4>
    <p>We don’t disclose your personal information to any other party/parties in accordance with our company policy.</p>

    <h4>Transfer of personal information overseas</h4>
    <p>All information collected from this application will be kept in Australia. We do not save or share this information overseas. Other than Taxi Services Pty Ltd, our app developer has access to information available on our app, but only with permission from Taxi Services Pty Ltd.</p>

    <h4>How do we protect your personal information?</h4>
    <p>Taxi Services Pty Ltd will take reasonable steps to ensure that the personal information that we hold about you is kept confidential and secure, by:</p>
    <ul>
        <li>Having a robust security of our premises and databases/records</li>
        <li>Taking measures to restrict access to only personnel who need that personal information to effectively provide services to you</li>
        <li>Having technological measures in place (for example, anti-virus software, firewalls)</li>
    </ul>

    <h4>Online activity</h4>
    <h5>Cookies</h5>
    <p>We use cookies only once at login. No further cookies are used after login.</p>

    <h5>Website analytics</h5>
    <p>Our app does not use website or data analytics of visitor traffic.</p>

    <h4>Direct marketing</h4>
    <p>This app is not developed for the sale of goods and services. So, there are no marketing or sales goals for the company.</p>

    <h4>Retention of personal information</h4>
    <p>We will not keep your personal information for longer than we need to. In most cases, this means that we will only retain your personal information for the duration of your relationship with us unless we are required to retain your personal information to comply with applicable laws, for example, record-keeping obligations.</p>
    <p>In most cases, staff/driver information will not be used after resignation from the company.</p>

    <h4>How to access and correct your personal information</h4>
    <p>Taxi Services Pty Ltd will endeavour to keep your personal information accurate, complete, and up to date.</p>
    <p>If you wish to make a request to access and/or correct the personal information we hold about you, you should make a request by contacting us, and we will usually respond within 24 hours. Simply write us an email to <a href="mailto:ararattaxiservices@gmail.com">ararattaxiservices@gmail.com</a>.</p>

    <h4>Inquiries and complaints</h4>
    <p>For complaints about how Taxi Services Pty Ltd handles, processes, or manages your personal information, please contact <a href="mailto:ararattaxiservices@gmail.com">ararattaxiservices@gmail.com</a>. Note we may require proof of your identity and full details of your request before we can process your complaint.</p>
    <p>Please allow up to 2 days to respond to your complaint. It will not always be possible to resolve a complaint to everyone’s satisfaction. If you are not satisfied with Ararat Taxi Services’ response to a complaint, you have the right to contact the Office of the Australian Information Commissioner (at <a href="https://www.oaic.gov.au/">www.oaic.gov.au</a>) to lodge a complaint.</p>

    <h4>How to contact us</h4>
    <p>If you have a question or concern regarding our handling of your personal information or this Policy, you can contact us for assistance as follows:</p>
    <p>Email: <a href="mailto:ararattaxiservices@gmail.com">ararattaxiservices@gmail.com</a></p>
    <p>Contact number: 03 5352 7775</p>
    <p>Post: PO Box 319, Ararat, Vic 3377, Australia</p>
</body>
</html>
